# Global Python ignores (for backend/)
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log
.env

# Virtual environment
venv/
env/

# Global Node.js ignores (for frontend/)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
frontend/.env

# macOS
.DS_Store

# Render local build cache (just in case)
.render/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
